# Build artifacts
*.o
*.obj
build_log.txt
build_out.txt
bin/
build/

# Testing
# *test/

# Raylib/Zig temp
zig-cache/
zig-out/

# IDE files
.vscode/
.idea/
*.code-workspace

# OS files
Thumbs.db
.DS_Store
